<template name="main">
  <div class="container">

    <div class="row-fluid">
        <div class="span12 well">
            {{> input}}
        </div>
    </div>

      <div class="row-fluid">
          <div class="span8 well">
              {{> messages}}
          </div>
      </div>

  </div>
</template>


<template name="input">
    <textarea id="msg" placeholder="Your message goes here..." class="form-control"></textarea>
    <input type="button" value="Send message" class="btn btn-primary sendMsg pull-right" style="margin-top: 10px;">
    <div class="clearfix"></div>
</template>

<template name="messages">
    <h4>{{roomname}}</h4>
    <div id="messages" style="background-color: #ffffff; border: 1px solid darkgray; padding: 20px;">
        {{#each messages}}
            {{> message}}
        {{/each}}
    </div>
</template>

<template name="message">
    <p><strong>{{user}}</strong> <span style="font-size: 0.7em; color: darkgray">({{ts}})</span>: <i>{{msg}}</i></p>
</template>
