<template name="login">
    <h1>Login!</h1>

    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
        <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="login">{{> login_form}}</div>
        <div role="tabpanel" class="tab-pane" id="register">{{> register_form}}</div>
      </div>

    </div>
</template>


<template name="login_form">
  <div class="container">
    <form id="login-form">
      <div class="form-group">
        <label for="login-email">Email address</label>
        <input name="email" type="email" class="form-control" id="login-email" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="login-password">Password</label>
        <input name="password" type="password" class="form-control" id="login-password" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-default">Login</button>
    </form>
  </div>
</template>

<template name="register_form">
  <div class="container">
    <form id="register-form">
      <div class="form-group">
        <label for="register-email">Email address</label>
        <input name="email" type="email" class="form-control" id="register-email" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="register-password">Password</label>
        <input name="password" type="password" class="form-control" id="register-password" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-default">Register</button>
    </form>
  </div>
</template>
