<template name="config">
  <form id="config-form">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" value="{{email}}" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group">
      <label for="location">Location</label>
      <select id="location" class="form-control">
        {{#each locations}}
          <option value="{{this}}" selected={{selected this}}>{{this}}</option>
        {{/each}}
      </select>
    </div>

    <fieldset>
      <legend>Change password</legend>

      <div class="form-group">
        <label for="old_password">Old password</label>
        <input type="password" class="form-control" id="old_password" placeholder="Old password">
      </div>
      <div class="form-group">
        <label for="password">New password</label>
        <input type="password" class="form-control" id="password" placeholder="New password">
      </div>
    </fieldset>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</template>
